/*!
 * Copyright 2017 Qiuhua Jia.
 * @author hua <flower346@qq.com>
 */

.slideBox,.banner-border{
    top: 22px;
    height: 450px;
    overflow: hidden;
    width: 1100px;
    position: absolute;
}
.slideBox .hd {
    height: 15px;
    overflow: hidden;
    position: absolute;
    bottom: 8px;
    z-index: 1;
    left: 490px;
}

.slideBox .hd ul {
    overflow: hidden;
    zoom: 1;
    float: left;
}

.slideBox .hd ul li {
    float: left;
    margin-right: 30px;
    width: 10px;
    height: 10px;
    line-height: 14px;
    text-align: center;
    background: #999999;
    cursor: pointer;
    border-radius: 100%;
    color: transparent;
}

.slideBox .hd ul li.on {
    background: #522712;
}

.slideBox .bd {
    position: relative;
    height: 100%;
    z-index: 0;
}

.slideBox .bd li {
    zoom: 1;
    vertical-align: middle;
}

.slideBox .bd img {
    width: 100%;
    height: 410px;
    display: block;
}

/*下方滑动*/
.picScroll-left {
    overflow: hidden;
    position: relative;
}

.tempWrap {
    margin: 0 auto;
    padding-left: 30px;
}

.picScroll-left .hd {
    position: relative;
}

.picScroll-left .hd .prev, .picScroll-left .hd .next {
    position: absolute;
    display: block;
    width: 30px;
    height: 48px;
    cursor: pointer;
    top: 118px;
}

.picScroll-left .hd .next {
    background: url("../image/left.png") 0 0 no-repeat;
    left: 20px;
}
.picScroll-left .hd .prev {
    background: url("../image/right.png") 0 0 no-repeat;
    right: 10px;
}

.picScroll-left .hd .prevStop {
    background-position: -60px 0;
}

.picScroll-left .hd .nextStop {
    background-position: -60px -50px;
}

.picScroll-left .hd ul {
    float: right;
    overflow: hidden;
    zoom: 1;
    margin-top: 10px;
    zoom: 1;
}


.picScroll-left .bd {
    padding: 16px 10px 25px;
}

.picScroll-left .bd ul {
    overflow: hidden;
    zoom: 1;
}
.picScroll-left .bd ul li {
    float: left;
    _display: inline;
    overflow: hidden;
    text-align: center;
    height: 242px;
    background-color: #755241;
    margin-right: 30px;
    border-radius: 10px;
    background: url("../image/pic-bj.png") 0 0 no-repeat;
    background-size: cover;
}
.picScroll-left .bd ul li:last-child {
    margin: 0;
}

.picScroll-left .bd ul li .pic {
    text-align: center;
    padding: 10px 10px 5px;
}

.picScroll-left .bd ul li .pic img {
    display: block;
    width: 170px;
    height: 190px;
}

.picScroll-left .bd ul li .title {
    line-height: 24px;
}

.picScroll-left a {
    color: #fff;
}