/*!
 * Copyright 2017 Qiuhua Jia.
 * @author hua <flower346@qq.com>
 */
/*--------------------------------*/
body {
    margin: 0;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #522712;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
    background: url("../image/body_bj.jpg") center center repeat;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

ul, ol, li, dl, dd, p, h3 {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none outside none;
}

a {
    color: #522712;
    outline: medium none;
    text-decoration: none;
    background: transparent;
    star: expression(this.onFocus=this.blur());
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: #522712;
}

img {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: inherit;
    height: inherit;
}

.cl:before, .cl:after {
    content: " ";
    display: table;
}

h3 {
    font-size: 20px;
}

.js-show {
    display: block !important;
}

.page-container {
    width: 100%;
}

.page-warp {
    width: 1200px;
    margin: 0 auto;
}

.page-title {
    position: absolute;
    padding: 6px 10px;
    border: solid 1px;
    border-radius: 8px;
    z-index: 2;
    background: #fff;
    font-weight: 500;
    width: 210px;
    text-align: center;
    top: 10px;
    font-size: 16px;
    left: 495px;
}

.page-title span {
    color: #846246;
    font-size: 13px;
    padding-left: 2px;
}

.bg-color-2 {
    background-color: #3e0e07;
    height: 350px;
}

.top {
    height: 310px;
    position: relative;
    background: url("../image/flower_bj.png") center center repeat;
}

.top_header {
    height: 40px;
    background: url("../image/top_bj.png") left center repeat;
}

.top_img {
    position: absolute;
    left: 0;
    top: 0;
}

.topNav {
    height: 31px;
    width: 1200px;
    padding-left: -600px;
    padding-top: 9px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -600px;
    color: #fff;
    font-size: 13px;
}

.top .topNav a {
    color: #fff;
}

.top .topNav .span1 {
    margin: 0 9px 0 9px;
}

.company-warp {
    text-align: center;
}

.company-warp .top_logo, .company-warp .top_desc, .company-warp .top_year {
    padding-top: 20px;
}

.company-warp .top_logo {
    padding-top: 60px;
}

.nav-hd {
    height: 60px;
    padding-top: 10px;
}

.nav-hd > li {
    float: left;
    position: relative;
    width: 150px;
}

.nav-hd > li > a {
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    border: solid 1px #d7c7b9;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #f4eadb;
}

.nav-hd > li > a > span {
    font-size: 12px;
}

.nav-hd > li.on > a {
    background-color: #eee3cd;
    background: url("../image/nav_current.png") left center no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/nav_current.png', sizingMethod='scale');
}

.nav-hd li:last-child a {
    margin-right: 0;
}

.banner {
    height: 500px;
    position: relative;
    /*display: -webkit-flex;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*-webkit-align-items: center;*/
    /*-ms-flex-align: center;*/
    /*align-items: center;*/
    /*-webkit-justify-content: center;*/
    /*-ms-flex-pack: center;*/
    /*justify-content: center;*/
}

.banner-border {
    height: 410px !important;
    z-index: 1;
    width: 1100px;
}

.MemberBase {
    position: relative;
}

.bg-color-1 {
    background: url("../image/bj2.png") left center repeat;
    background-color: #522712;
}

.MemberBase .page-title {
    top: -20px;
    left: 495px;
    font-style: italic;
}

.base-warp .base-warp_bd {
    height: 70px;
    padding: 40px 0 45px;
}

.base-warp .base-warp_bd > li {
    float: left;
    position: relative;
    width: 240px;
    text-align: center;
}

.base-warp .base-warp_bd > li > a {
    display: block;
    padding: 10px;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    border-radius: 6px;
    margin-right: 10px;
    background-color: #5a311d;
    color: #7b5a4a;
}

.base-warp .base-warp_bd li:last-child a {
    margin-right: 0;
}

.base-warp .base-warp_bd > li.on > a {
    color: #330000;
    background-color: #754823;
}
.base-warp .base-warp_bd li.on .icon-bugle{
    position: absolute;
    top: 70px;
    left: 106px;
    width: 28px;
    height: 18px;
    background: url("../image/bugle.png") center no-repeat;
}
.base-warp .base-desc {
    padding: 0 40px;
    color: #fff;
    font-size: 13px;
    display: none;
}

.base-warp .base-desc p {
    line-height: 2;
    padding-left: 18px;
}

.base-warp .base-desc .source {
    font-size: 20px;
    font-weight: bold;
    line-height: 0.1;
    padding: 0;
}

.base-warp .base-desc .text-r {
    text-align: right;
}

/*----------新闻资讯ActivityNews------------*/
.ActivityNews {
    height: 264px;
    margin-top: 31px;
}

.ActivityNews-wrap {
    height: 250px;
}

.ActivityNews-com {
    width: 380px;
    height: 250px;
    margin-right: 30px;
}
.ActivityNews-com:last-child{
    margin: 0;
}
.zhixun-p {
    height: 30px;
    font-weight: 500;
    font-size: 18px;
    font-style: italic;
    padding: 0 4px;
}

.zhixun-p-L {
    width: 230px;
}

.zhixun-p > span {
    font-size: 16px;
}

.zhixun-p .span2 {
    color: #916c4e;
    font-size: 16px;
    padding-left: 2px;
}

.zhixun-p .more {
    color: #754823;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    text-align: right;
}

.tuwen {
    margin-top: 18px;
    height: 200px;
    background: url("../image/zhixun-bj.png") 0 0 no-repeat;
}

.tuwen-img {
    padding: 12px 10px 0 10px;
    height: 80px;
}

.tuwen-img img {
    width: 120px;
    height: 80px;
}

.tuwen dl {
    width: 224px;
}

.tuwen dl dt {
    line-height: 24px;
    font-size: 18px;
}

.wen {
    padding: 12px 10px 0 10px;
}

.wen dl {
    width: 354px;
    height: 169px;
}

.wen dd {
    line-height: 30px;
}

.tuwen-img3 {
    height: 115px;
}

.tuwen-img3 img {
    width: 160px;
    height: 100px;
}

.tuwen-img3 dl {
    width: 190px;
}

.tuwen-img3 dt {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
}

.tuwen-img3 dd {
    font-size: 15px;
    line-height: 30px;
    text-align: right;
    margin-right: 44px;
    color: #734621;
}

.tuwen3 p {
    width: 356px;
    height: 43px;
    padding: 0px 10px 0px 10px;
}

/*---------------梦想聚落DreamTribe---------------------*/
.DreamTribe {
    height: 371px;
    margin-top: 24px;
    background: url("../image/DreamTribe.png") center 16px no-repeat;
}

.DreamTribe-bottom {
    width: 100%;
    height: 70px;
    position: absolute;
    left: 0;
    bottom: 20px;
}

.DreamTribe-bottom img {
    width: 196px;
    height: 30px;
    position: absolute;
    left: 50%;
    margin-left: -98px;
    top: 35px;
}

.page-DreamTribe {
    top: -2px;
}

.circle {
    width: 100%;
    height: 256px;
    position: absolute;
    left: 0;
    top: 10px;
}

.circle img {
    width: 170px;
    height: 170px;
}

.circle1 {
    height: 280px;
}

.circle1 ul {
    margin-top: 64px;
    width: 100%;
}

.circle1 > ul li {
    width: 170px;
    height: 170px;
    float: left;
    margin-right: 18px;
}

.circle1 > ul li.first-li {
    margin-left: 45px;
}

.circle1 > ul li.last-li {
    margin-right: 0;
}

/*--------------------footer---------------*/
.bg-bottom {
    width: 100%;
    height: 40px;
    background: url("../image/bottom_bj.png") 0 0 repeat;
}

.footer {
    height: 310px;
}

.page-warp-top {
    width: 946px;
    padding-top: 34px;
    position: absolute;
    left: 50%;
    margin-left: -467px;
}

.page-wrap-top-part {
    width: 120px;
}

.page-wrap-top-part dl dt {
    margin-bottom: 9px;
    color: #f6ebdf;
    font-size: 14px;
}

.page-wrap-top-part dl span {
    margin: 0 25px 0 25px;
}

.page-wrap-top-part dl dd > a {
    line-height: 30px;
    color: #b1967e;
    font-size: 13px;
}

.part1 {
    width: 140px;
    text-align: center;
}

.part1 dd > a {
    margin-left: -40px;
}

.part8 {
    width: 86px;
}

.page-warp-relative {
    position: relative;
    left: 0;
    top: 0;
}

.page-warp_bottom {
    width: 516px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -257px;
    color: #f6ebdf;
    font-size: 13px;
}